.App {
  text-align: center;
  padding: 50px;
}

.input {
  width: 15%;
  height: 40px;
  font-size: large;
  margin-right: 20px;
}

.but_search{
  /* width: 15%; */
  height: 40px;
  background-color:cornflowerblue;
  color: aliceblue;
}

.div_text{
  margin-top: 5%;
  text-align: center;
}